<br />
<br />
<div class="container-fluid">
  <div class="container" *ngIf="loggedIn===false">
    <h3 class="text-center text-primary">New User Registration</h3>
    <br />
    <h6 class="text-center" *ngIf="error===true" style="color: red;">
      * An account with that Username &/or Password already exists *
    </h6>
    <form name="registerForm">
      <h5 class="text-center">Login Credentials:</h5>
      <div class="form-row">
        <div class="col-2"></div>
        <div class="col-4">
          <label for="username">Username</label>
          <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            [(ngModel)]="newUser.username"
          />
        </div>
        <div class="col-4">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            [(ngModel)]="newUser.password"
          />
        </div>
        <div class="col-2"></div>
      </div>
      <br />
      <div class="form-row">
        <div class="col-2"></div>
        <div class="col-8">
          <hr />
        </div>
        <div class="col-2"></div>
      </div>
      <br />
      <h5 class="text-center">Personal Information:</h5>
      <div class="form-row">
        <div class="col-2"></div>
        <div class="col-4">
          <label for="firstName">First Name</label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            name="firstName"
            [(ngModel)]="newUser.firstName"
          />
        </div>
        <div class="col-4">
          <label for="lastName">Last Name</label>
          <input
            type="text"
            class="form-control"
            id="lastName"
            name="lastName"
            [(ngModel)]="newUser.lastName"
          />
        </div>
        <div class="col-2"></div>
      </div>
      <div class="form-row">
        <div class="col-2"></div>
        <div class="col-4">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            [(ngModel)]="newUser.email"
          />
        </div>
        <div class="col-4">
          <label for="birthday">Birthday</label>
          <input
            type="date"
            class="form-control"
            id="birthday"
            name="birthday"
            [(ngModel)]="newUser.birthday"
          />
        </div>
        <div class="col-2"></div>
      </div>
      <div class="form-row">
        <div class="col-2"></div>
        <div class="col-4">
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="sex"
              value="M"
              [(ngModel)]="newUser.sex"
            />
            <label class="form-check-label" for="sex">Male</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="sex"
              value="F"
              [(ngModel)]="newUser.sex"
            />
            <label class="form-check-label" for="sex">Female</label>
          </div>
        </div>
        <div class="col-6"></div>
      </div>
      <br />
      <div class="form-row">
        <div class="col-2"></div>
        <div class="col-4">
          <button
            type="submit"
            class="btn btn-secondary"
            style="float:left;"
            [routerLink]="['/home']"
          >
            Cancel
          </button>
        </div>
        <div class="col-4">
          <button
            type="submit"
            class="btn btn-primary"
            style="float:right;"
            (click)="register()"
          >
            Register
          </button>
        </div>
        <div class="col-2"></div>
      </div>
    </form>
  </div>

   <!-- USER'S GOAL START -->
   <div class="container" *ngIf="loggedIn === true && ucgChosen === false">
    <h5 class="text-center">Fitness Goal:</h5>
    <form name="currGoalForm" id="currGoalForm">
    <div class="form-row">
      <div class="col-2"></div>
      <div class="col-8">
        <select class="custom-select" name="goal" id="goal" [(ngModel)]="userCurrGoal.goal">
          <option selected diabled>Choose a Fitness Goal</option>
          <option [ngValue]="g" name="goal" *ngFor="let g of allGoals | arraySort: 'goalName': false">{{ g.goalName }}</option>
        </select>
      </div>
      <div class="col-2"></div>
    </div>
    <br>
    <div class="form-row">
     <div class="col-2"></div>
     <div class="col-8">
       <button
         type="submit"
         class="btn btn-primary"
         style="float:right;"
         (click)="createUserGoal()"
       >
         Create Goal
       </button>
     </div>
     <div class="col-2"></div>
   </div>
    </form>
   </div>
    <!-- USER'S GOAL END -->

    <!-- CHOOSE AN AVATAR SET START -->
  <!-- <div class="container">  *ngIf="loggedIn === true && ucgChosen === true"
        <h5 class="text-center">Choose a Set of Avatars</h5>
        <h6 class="text-center"><small>(Avatar body type will change daily based upon your caloric intake/deficit & overall fitness goal)</small></h6>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-2" *ngFor="let avatar of allAvatars | arraySort: 'avatarGroup':false">
            <h6 class="text-center">{{ avatar.bodyType }}</h6>
            <img
              id="avatarImg"
              [src]="avatar.avatarUrl"
              alt="Avatar Image: avatar.bodyType"
              class="img img-fluid"/>
              <button class="btn btn-success btn-block">Choose Avatar</button>
        </div>
        <div class="col-1"></div>
      </div>
  </div> -->
  <div class="container" *ngFor="let ga of groupedAvatars | arraySort:'id': false">
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <div id="avatarCarousel" class="carousel slide" data-ride="carousel" *ngFor="let avatar of ga;let i = index;">
        <div class="carousel-item {{ i == 0 ? 'active' : '' }}">
          <img class="img img-fluid" [src]="avatar.avatarUrl" alt="Avatar Image: avatar.bodyType">
          <div class="carousel-caption d-none d-md-block">
            <h5>{{ avatar.bodyType }}</h5>
            <button class="btn btn-success">Choose this Avatar Set</button>
          </div>
        </div>
        <!-- <a class="carousel-control-prev" href="#avatarCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon bg-secondary" aria-hidden="true"></span>
          <span class="sr-only text-info">Previous</span>
        </a>
        <a class="carousel-control-next" href="#avatarCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon bg-secondary" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a> -->
      </div>
      </div>
      <div class="col-3"></div>
    </div>
  <!-- CHOOSE AN AVATAR SET END -->

</div>
<br />
<br />
<br />
