<br />
<br />
<div class="container-fluid">
  <h3 class="text-center text-primary">New User Registration</h3>
  <br />
  <form name="registerForm">
    <h5 class="text-center">Login Credentials:</h5>
    <div class="form-row">
      <div class="col-2"></div>
      <div class="col-4">
        <label for="username">Username</label>
        <input
          type="text"
          class="form-control"
          id="username"
          name="username"
          [(ngModel)]="newUser.username"
        />
      </div>
      <div class="col-4">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          [(ngModel)]="newUser.password"
        />
      </div>
      <div class="col-2"></div>
    </div>
    <br />
    <div class="form-row">
      <div class="col-2"></div>
      <div class="col-8">
        <hr />
      </div>
      <div class="col-2"></div>
    </div>
    <br />
    <h5 class="text-center">Personal Information:</h5>
    <div class="form-row">
      <div class="col-2"></div>
      <div class="col-4">
        <label for="firstName">First Name</label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          name="firstName"
          [(ngModel)]="newUser.firstName"
        />
      </div>
      <div class="col-4">
        <label for="lastName">Last Name</label>
        <input
          type="text"
          class="form-control"
          id="lastName"
          name="lastName"
          [(ngModel)]="newUser.lastName"
        />
      </div>
      <div class="col-2"></div>
    </div>
    <div class="form-row">
      <div class="col-2"></div>
      <div class="col-4">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          [(ngModel)]="newUser.email"
        />
      </div>
      <div class="col-4">
        <label for="birthday">Birthday</label>
        <input
          type="date"
          class="form-control"
          id="birthday"
          name="birthday"
          [(ngModel)]="newUser.birthday"
        />
      </div>
      <div class="col-2"></div>
    </div>
    <div class="form-row">
      <div class="col-2"></div>
      <div class="col-4">
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="sex"
            value="M"
            [(ngModel)]="newUser.sex"
          />
          <label class="form-check-label" for="sex">Male</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="sex"
            value="F"
            [(ngModel)]="newUser.sex"
          />
          <label class="form-check-label" for="sex">Female</label>
        </div>
      </div>
      <div class="col-6"></div>
    </div>
    <br />
    <div class="form-row">
      <div class="col-2"></div>
      <div class="col-4">
        <button
          type="submit"
          class="btn btn-secondary"
          style="float:left;"
          [routerLink]="['/home']"
        >
          Cancel
        </button>
      </div>
      <div class="col-4">
        <button
          type="submit"
          class="btn btn-primary"
          style="float:right;"
          (click)="register()"
        >
          Register
        </button>
      </div>
      <div class="col-2"></div>
    </div>
  </form>
</div>
<br />
<br />
<br />
