<div class="container">
  <div id="login-row" class="row justify-content-center align-items-center">
    <div id="login-column" class="col-md-6">
      <div id="login-box" class="col-md-12">
        <h5 *ngIf="error" style="color: red;">
          * Incorrect username/password was entered
        </h5>
        <form
          #loginForm="ngForm"
          id="login-form"
          class="form"
          action=""
          method="post"
        >
          <h3 class="text-center text-success">Login</h3>
          <div class="form-group">
            <label for="username" class="text-success">Username:</label><br />
            <input
              type="text"
              name="username"
              id="username"
              class="form-control"
              ngModel
            />
          </div>
          <div class="form-group">
            <label for="password" class="text-success">Password:</label><br />
            <input
              type="password"
              name="password"
              id="password"
              class="form-control"
              ngModel
            />
          </div>
          <div class="form-group">
            <input
              type="submit"
              style="float: right"
              class="btn btn-success btn-md"
              value="Login"
              (click)="login(loginForm)"
            />
            <button
              style="float: left"
              [routerLink]="['/register']"
              class="btn btn-primary btn-md"
            >
              Register here
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
