<div class="container-fluid" *ngIf="user">
  <h3 class="text-center">User Info:</h3>
  <table>
    <thead>
      <tr>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Birthday</th>
        <th>Sex</th>
        <th>Current Goal</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.birthday | date: "shortDate" }}</td>
        <td>{{ user.sex }}</td>
        <td>{{ userCurrentGoal.goalName }}</td>
      </tr>
    </tbody>
  </table>
  <br />
  <div class="container">
    <h3 class="text-center">Current Avatar: {{ currentAvatar.bodyType }}</h3>
    <h5 class="text-center">(Based on most recent diet & exercise)</h5>
    <img
      [src]="currentAvatar.avatarUrl"
      width="200"
      alt="Current User Avatar"
    />
  </div>
  <br />
  <div class="container">
    <h3 class="text-center">Caloric Intake:</h3>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Meal</th>
          <th>Meal Description</th>
          <th>Calories</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let caloricIntake of user.userDailyCaloricIntakes
              | arraySort: 'dateCreated':true
          "
        >
          <td>{{ caloricIntake.dateCreated | date: "shortDate" }}</td>
          <td>{{ caloricIntake.mealType.mealTypeName }}</td>
          <td>{{ caloricIntake.mealDescription }}</td>
          <td>{{ caloricIntake.caloriesThisMeal }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <br />
  <div class="container">
    <h3 class="text-center">Calories Burned:</h3>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Activity Description</th>
          <th>Total Calories Burned</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let caloricDeficit of user.userDailyExerciseCaloricDeficits
              | arraySort: 'dateCreated':true
          "
        >
          <td>{{ caloricDeficit.dateCreated | date: "shortDate" }}</td>
          <td>{{ caloricDeficit.activityDescription }}</td>
          <td>{{ caloricDeficit.totalCaloriesBurned }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <br />
  <div class="container">
    <h3 class="text-center">Progress Images:</h3>
    <div class="col-md-12">
      <div class="row align-items-center">
        <div
          class="col-xs"
          *ngFor="let img of user.userImages | arraySort: 'dateCreated':false"
        >
          <h6 class="text-center">{{ img.dateCreated | date: "shortDate" }}</h6>
          <img id="progressImg"
            [src]="img.imageUrl"
            alt="Progress Image: img.dateCreated"
            width="200"
          />
        </div>
      </div>
    </div>
  </div>
</div>
