<div class="container-fluid" *ngIf="user && user.role !== 'admin'">
  <h3 class="text-center">User Info:</h3>
  <table class="table table-bordered table-hover table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Birthday</th>
        <th>Sex</th>
        <th>Current Goal</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.birthday | date: "shortDate" }}</td>
        <td>{{ user.sex }}</td>
        <td>{{ userCurrentGoal.goalName }}</td>
      </tr>
    </tbody>
  </table>
  <br />
  <div class="container" *ngIf="user.userAvatars.length > 0">
    <h3 class="text-center">Current Avatar: {{ currentAvatar.bodyType }}</h3>
    <h5 class="text-center">(Based on most recent diet & exercise)</h5>
    <div class="row">
      <div class="col-5"></div>
      <div class="col-2">
        <img
          [src]="currentAvatar.avatarUrl"
          class="img-fluid"
          alt="Current User Avatar"
        />
      </div>
      <div class="col-5"></div>
    </div>
  </div>
  <br />
  <div class="container" *ngIf="user.userDailyCaloricIntakes.length > 0">
    <h3 class="text-center">Caloric Intake:</h3>
    <table class="table table-bordered table-hover table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Date</th>
          <th>Meal</th>
          <th>Meal Description</th>
          <th>Calories</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let caloricIntake of user.userDailyCaloricIntakes
              | arraySort: 'dateCreated':true
          "
        >
          <td>{{ caloricIntake.dateCreated | date: "shortDate" }}</td>
          <td>{{ caloricIntake.mealType.mealTypeName }}</td>
          <td>{{ caloricIntake.mealDescription }}</td>
          <td>{{ caloricIntake.caloriesThisMeal }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <br />
  <div
    class="container"
    *ngIf="user.userDailyExerciseCaloricDeficits.length > 0"
  >
    <h3 class="text-center">Calories Burned:</h3>
    <table class="table table-bordered table-hover table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Date</th>
          <th>Activity Description</th>
          <th>Total Calories Burned</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let caloricDeficit of user.userDailyExerciseCaloricDeficits
              | arraySort: 'dateCreated':true
          "
        >
          <td>{{ caloricDeficit.dateCreated | date: "shortDate" }}</td>
          <td>{{ caloricDeficit.activityDescription }}</td>
          <td>{{ caloricDeficit.totalCaloriesBurned }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <br />
  <div class="container" *ngIf="user.userImages.length > 0">
    <h3 class="text-center">Progress Images:</h3>
    <div class="col-md-12">
      <div class="row align-items-center">
        <div
          class="col-xs"
          *ngFor="let img of user.userImages | arraySort: 'dateCreated':false"
        >
          <h6 class="text-center">{{ img.dateCreated | date: "shortDate" }}</h6>
          <img
            id="progressImg"
            [src]="img.imageUrl"
            alt="Progress Image: img.dateCreated"
            width="200"
          />
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="container" *ngIf="user.userBodyMeasurementMetrics.length > 0">
    <h3 class="text-center">Body Measurements:</h3>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="radio"
        name="system"
        id="system"
        value="US"
        [(ngModel)]="measurementSystem"
      />
      <label class="form-check-label" for="system">US</label>
    </div>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="radio"
        name="system"
        id="system"
        value="metric"
        [(ngModel)]="measurementSystem"
      />
      <label class="form-check-label" for="system">Metric</label>
    </div>
    <!-- METRIC SELECTED -->
    <table
      class="table table-bordered table-hover table-striped"
      *ngIf="measurementSystem === 'metric'"
    >
      <thead class="thead-dark">
        <tr>
          <th>Date Measured</th>
          <th>Weight (kg)</th>
          <th>Waist (mm)</th>
          <th>Height (mm)</th>
          <th>Neck (mm)</th>
          <th>Shoulders (mm)</th>
          <th>Chest (mm)</th>
          <th>Bicep (mm)</th>
          <th>Hip (mm)</th>
          <th>Thigh (mm)</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let m of user.userBodyMeasurementMetrics
              | arraySort: 'dateMeasured':true
          "
        >
          <td>{{ m.dateMeasured | date: "shortDate" }}</td>
          <td>{{ m.weightKg }}</td>
          <td>{{ m.waistMM }}</td>
          <td>{{ m.heightMM }}</td>
          <td *ngIf="m.neckMM">{{ m.neckMM }}</td>
          <td *ngIf="!m.neckMM">-</td>
          <td *ngIf="m.shouldersMM">{{ m.shouldersMM }}</td>
          <td *ngIf="!m.shouldersMM">-</td>
          <td *ngIf="m.chestMM">{{ m.chestMM }}</td>
          <td *ngIf="!m.chestMM">-</td>
          <td *ngIf="m.bicepMM">{{ m.bicepMM }}</td>
          <td *ngIf="!m.bicepMM">-</td>
          <td *ngIf="m.hipsMM">{{ m.hipsMM }}</td>
          <td *ngIf="!m.hipsMM">-</td>
          <td *ngIf="m.thighMM">{{ m.thighMM }}</td>
          <td *ngIf="!m.thighMM">-</td>
        </tr>
      </tbody>
    </table>
    <!-- US SELECTED -->
    <table
      class="table table-bordered table-hover table-striped"
      *ngIf="measurementSystem === 'US'"
    >
      <thead class="thead-dark">
        <tr>
          <th>Date Measured</th>
          <th>Weight (lbs)</th>
          <th>Waist (in)</th>
          <th>Height (in)</th>
          <th>Neck (in)</th>
          <th>Shoulders (in)</th>
          <th>Chest (in)</th>
          <th>Bicep (in)</th>
          <th>Hip (in)</th>
          <th>Thigh (in)</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let m of user.userBodyMeasurementMetrics
              | arraySort: 'dateMeasured':true
          "
        >
          <td>{{ m.dateMeasured | date: "shortDate" }}</td>
          <td>
            {{ m.weightKg | measurementConverter: "kg":"lb" | number: "1.0-2" }}
          </td>
          <td>
            {{ m.waistMM | measurementConverter: "mm":"in" | number: "1.0-2" }}
          </td>
          <td>
            {{ m.heightMM | measurementConverter: "mm":"in" | number: "1.0-2" }}
          </td>
          <td *ngIf="m.neckMM">
            {{ m.neckMM | measurementConverter: "mm":"in" | number: "1.0-2" }}
          </td>
          <td *ngIf="!m.neckMM">-</td>
          <td *ngIf="m.shouldersMM">
            {{
              m.shouldersMM | measurementConverter: "mm":"in" | number: "1.0-2"
            }}
          </td>
          <td *ngIf="!m.shouldersMM">-</td>
          <td *ngIf="m.chestMM">
            {{ m.chestMM | measurementConverter: "mm":"in" | number: "1.0-2" }}
          </td>
          <td *ngIf="!m.chestMM">-</td>
          <td *ngIf="m.bicepMM">
            {{ m.bicepMM | measurementConverter: "mm":"in" | number: "1.0-2" }}
          </td>
          <td *ngIf="!m.bicepMM">-</td>
          <td *ngIf="m.hipsMM">
            {{ m.hipsMM | measurementConverter: "mm":"in" | number: "1.0-2" }}
          </td>
          <td *ngIf="!m.hipsMM">-</td>
          <td *ngIf="m.thighMM">
            {{ m.thighMM | measurementConverter: "mm":"in" | number: "1.0-2" }}
          </td>
          <td *ngIf="!m.thighMM">-</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- ADMIN STUFF -->
<div class="container-fluid" *ngIf="user && user.role === 'admin'">
  <h1 class="text-center">Hello Admin</h1>
</div>
